In [1]:
import sys
import pandas as pd
sys.path.append('../')
sys.path.append('F:\\Data\\selected_fund_index')

from gjdata import OracleDB
import cx_Oracle
cx_Oracle.init_oracle_client(lib_dir='F:\\Data\\selected_fund_index\\instantclient_21_3')
from conn import Configs
from conn.conn import GeneralConn
from factor_table.core import FactorCreator, FactorTable
from factor_table.utils.file_cache import file_cache

In [2]:
Config = Configs()
conn = GeneralConn(Config['DB_CONFIG'],OracleDB)

@file_cache()
def execute(sql):
    return conn.query(sql)

config loaded!

In [3]:
cik_dts=['20201231', '20200113', '20200114', ]

# cik_ids= ['100025.OF','000645.OF']

In [4]:
sql = "select F_INFO_WINDCODE,PRICE_DATE,F_NAV_ADJUSTED,F_NAV_UNIT,NETASSET_TOTAL from app_winddb.ChinaMutualFundNAV where rownum < 10000 and PRICE_DATE > 20200101 and SUBSTR(F_INFO_WINDCODE,7,3) ='.OF' "
# df = query(sql)

In [5]:
ft = FactorTable()
ft.add_factor(sql,execute,cik_dt='PRICE_DATE',cik_id='F_INFO_WINDCODE',factor_names=['F_NAV_ADJUSTED',],db_type ='SQL')
ft.add_factor(sql,execute,cik_dt='PRICE_DATE',cik_id='F_INFO_WINDCODE',factor_names=['NETASSET_TOTAL'],db_type ='SQL')
ft.add_factor(sql,execute,cik_dt='PRICE_DATE',cik_id='F_INFO_WINDCODE',factor_names=['F_NAV_UNIT'],db_type ='SQL')

..\factor_table\factor_engine\__init__.py:175: UserWarning: query dont have src property! will set as random src! please check src!
  warnings.warn('query dont have src property! will set as random src! please check src!')

In [6]:
ft.show_factors(reduced=True)

,db_table,dts,ids,origin_factor_names,alias,sql,via,info
0,"select F_INFO_WINDCODE,PRICE_DATE,F_NAV_ADJUST...",PRICE_DATE,F_INFO_WINDCODE,F_NAV_ADJUSTED,None,"select F_INFO_WINDCODE,PRICE_DATE,F_NAV_ADJUST...",SQL_SQL,None
1,"select F_INFO_WINDCODE,PRICE_DATE,F_NAV_ADJUST...",PRICE_DATE,F_INFO_WINDCODE,NETASSET_TOTAL,None,"select F_INFO_WINDCODE,PRICE_DATE,F_NAV_ADJUST...",SQL_SQL,None
2,"select F_INFO_WINDCODE,PRICE_DATE,F_NAV_ADJUST...",PRICE_DATE,F_INFO_WINDCODE,F_NAV_UNIT,None,"select F_INFO_WINDCODE,PRICE_DATE,F_NAV_ADJUST...",SQL_SQL,None

In [3]:
fetched = ft.fetch(cik_dts=['20210126'],cik_ids=['000990.OF'],force=False,delay=True)

NameError: name 'ft' is not defined

In [8]:
df2 = list(fetched)

In [2]:
pd.concat(fetched, axis=1)

NameError: name 'fetched' is not defined

In [13]:
ft.transform_matrix()

get cik_dts from cache!
get cik_dts from cache!
get cik_dts from cache!
get cik_ids from cache!
get cik_ids from cache!
get cik_ids from cache!
<generator object FactorPool.fetch_iter.<locals>.<genexpr> at 0x00000226EF981AC0>

DataError: No numeric types to aggregate

In [11]:
# ft['f_nav_adjusted']

In [12]:
ft.fetch(cik_dts=['20210126'],cik_ids=['000990.OF'],force=False)

<generator object FactorPool.fetch_iter.<locals>.<genexpr> at 0x00000226EF9F8F20>

                      f_nav_adjusted netasset_total  f_nav_unit
cik_dts    cik_ids
2021-01-26 000990.OF           2.216           None       2.216